@import "../../../sass/variables";

.Header {
    height: 60px;
    background-color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $color-secondary;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    .Logo {
        animation: App-logo-spin infinite 10s linear;
        height: 60px;
        width: 60px;
        pointer-events: none;
        margin-bottom: 0;
      }

    a {
        color: $color-main;

        &:hover {
            color: $color-secondary;
        }
    }

    nav {
        
        a {
            margin: 0 20px;
        }
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }