// Base Font
$base-font: "Montserrat";

$weight-bold: 600;
$weight-semibold: 500;
$weight-normal: 400;

// $font-size-small-mobile: 12px;
// $font-size-medium-mobile: 14px;
// $font-size-normal-mobile: 16px;
// $font-size-big-mobile: 20px;
// $font-size-large-mobile: 24px;

$font-size-tiny: 12px;
$font-size-small: 13px;
$font-size-medium: 14px;
$font-size-normal: 15px;
$font-size-semi-big: 16px;
$font-size-big: 20px;
$font-size-huge: 30px;

$base-font-size: $font-size-normal;