// Base Line Height
$spacing-unit: 30px;
$spacing-unit--small: round($spacing-unit / 2);

// Page MaxWidth
$page-max-width: 2000px;

// Breakpoints
$breakpoint-extra-small: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1040px;
$breakpoint-wide: 1200px;

// Shadow
$shadow-main: 0 1px 6px rgba(29, 44, 45, 0.1);
$shadow-hover: 0 2px 10px rgba(29, 44, 45, 0.2);

// Animation
$timing-default: .25s cubic-bezier(0.4, 0, 0.2, 1);