@import '../../sass/variables';

.CommentWrap {
    
    padding: 40px;
    background-color: $color-white;
	box-shadow: $shadow-main;
    margin-bottom: 40px;
    
    
}

.Comment {
    width: 100%;
}

.CommentText {
    color: $color-main;
}

.Author {
    color: $color-secondary;
    margin: 20px 0;
}

.CollapseReplies {
    cursor: pointer;
}

.RepliesList {
    margin-top: 20px;
}
